:root{
    --color-1: #F4EEFF;
    --color-2: #DCD6F7;
    --color-3: #A6B1E1;
    --color-4: #424874;
}

*{
    padding: 0;
    margin: 0;
}

ul, ol, a{
    text-decoration: none;
    list-style-type: none;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Poppins") format("truetype");
}