.header {
    box-sizing: border-box;
    font-family: "Poppins";
}
header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
}

header .nav-bar{
    display: grid;
    height: 50px;
    grid-template-columns: 10% 15% auto;
    background-color: var(--color-4);
}

header .burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    color: #fff;
}

header .burger-menu:active{
    color: var(--color-2);
}

header .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1:active{
    color: var(--color-2);
}

header h1:hover{
    color: var(--color-2);
}

header .title a{
    color: #fff;
}

header .desktop{
    display: none;
}

header .menu{
    position: absolute;
    top: 50px;
    width: 100%;
    display: none;
    z-index: 10;
}

header .menu a{
    color: #000;
}

header .menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-3);
    padding: 20px 0;
    background-color: var(--color-2);
    font-size: 14px;
}

header .search-bar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

header input{
    outline: none;
    border: 2px solid var(--color-3);
    border-radius: 10px;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    background-color: var(--color-2);
}

header input:focus{
    border-color: var(--color-1);
    box-shadow: 0 0 5px #000;
}

header input:hover{
    border-color: var(--color-1);
}

header button{
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
    color: var(--color-4);
}

header .icons{
    display: none;
}

header .on{
 display: block;
}

header ul{
    display: none;
    margin-top: 10px;
}

header li{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 16px;
}

@media (min-width: 425px){

    header .mobile{
        display: none;
    }

    header .desktop{
        display: block;
        font-size: 25px;
    }

    header .nav-bar{
        grid-template-columns: 10% 40% auto;
    }

    header .title{
        justify-content: start;
    }

    header .menu{
        width: 60%;
    }
}

@media (min-width: 1024px){

    header .icons{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .icons i{
        color: #fff;
        font-size: 30px;
    }

    header .icons i:hover{
        color: var(--color-2);
    }

    header .burger-menu{
        display: none;
    }

    header .title{
        justify-content: center;
    }

    header .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: static;
        width: 100%;
    }

    header .menu div{
        border: none;
        padding: 10px;
        background: none;
        position: relative;
        color: #fff;
    }

    header .menu div h2{
        cursor: pointer;
    }

    header .menu div h2:hover{
        color: var(--color-2);
    }

    header .menu div a{
        color: #fff;
    }

    header ul{
        position: absolute;
        margin-top: 0px;
        top: 59.5px;
        background-color: var(--color-4);
        padding: 11px 25px;
    }
    
    header li{
        display: flex;
        justify-content: center;
        margin: 20px 0;
        font-size: 18px;
    }

    header li a:hover{
        color: var(--color-2);
    }

    header .menu .user,
    header .menu .cart{
        display: none;
    }

    header .search-bar{
        grid-column-end: initial;
    }

    header input{
        height: 40px;
        width: 240px;
    }

    header button{
        font-size: 22px;
    }

    header .nav-bar{
        grid-template-columns: 15% 50% 25% 10%;
        justify-content: space-around;
        height: 70px;
    }

    header .avatar{
        position: relative;
    }

    header .avatar img{
        width: 100%;
        height: 50px;
        display: flex;
        border: 2px solid var(--color-1);
        border-radius: 50%;
    }

    header .avatar ul {
        position: absolute;
        z-index: 10;
        left: -90px;
        top: 60px;
    }

    header .avatar a{
        color: #fff;
    }
}