.login{
    box-sizing: border-box;
    background-color: var(--color-1);
    font-family: "Poppins";
}
.login h2.title{
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid var(--color-4);
    padding: 10px;
}

/* main */

.login main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    padding: 10px;
    background-color: var(--color-2);
    color: #000;
    border: 2px solid var(--color-3);
    box-shadow: 0px 0px 20px #000;
}

.login main div h6{
    display: flex;
    justify-content: center;
    color: #000;
    text-transform: uppercase;
    border-top: 1px solid var(--color-3);
    align-items: flex-start;
    padding-top: 5px;
}
.login main div p{
    border-bottom: 1px solid var(--color-3);
    padding-bottom: 5px;
    font-size: 14px;
}
.login main div a{
    text-transform: uppercase;
}
.login main form span{
    color: #000;
    border-bottom: 1px solid var(--color-3);
    padding-bottom: 5px;
    font-size: 12px;
}
.login main form a{
    text-transform: uppercase;
}
.login main button{
    margin-top: 20px;
    margin-bottom: 10px;
}
.login article.insta{
    display: none;
}

.login main form .error{
    color: red;
    font-size: 14px;
    border: none;
    padding: 0;
}

@media (min-width: 480px){
    /* section */

    .login article.insta{
        display: inline;
        justify-content: space-between;
    }
    .login article.insta h3{
        color: var(--color-4);
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 15px;

    }
    .login article.insta i{
        display: flex;
        justify-content: center;
        font-size: 70px;
        color: var(--color-4);
        border-top: 1px solid var(--color-3);
        margin-top: 70px;
        padding: 20px;
    }
    .login article.insta div{
        display: flex;
        justify-content: center;
    }
    .login article.insta div img{
        width: 45%;
        margin-bottom: 20px;
        padding: 5px;
    }
}

@media (min-width: 769px){

    /* main */

    .login main{
        margin: 20px 200px;
        border: solid 2px var(--color-4);
    }
    .login main div p{
        font-size: 20px;
    }
    .login main form span{
        font-size: 20px;
    }

    /* section */


}