.productCart{
    box-sizing: border-box;
    background-color: var(--color-1);
    background-image: url("/img/fondo.png");
    background-size: 100px;
    font-family: "Poppins";
}

.productCart main .desktop{
    display: none;
}

.productCart main img{
    width: 100%;
    border: solid 2px var(--color-4);
    transition-property: all;
    transition-duration: 300ms;
}

.productCart main img:hover{
    border-color: var(--color-3);
}

.productCart main{
    margin: 100px auto;
    width: 85%;
    background-color: var(--color-2);
    padding: 5px 10px;
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px #000;
    border: solid 2px var(--color-4);
}

.productCart main h2{
    margin: 15px 0;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-4);
    color: #000;
}

.productCart main article.movile {
    margin-top: 25px;
    background-color: var(--color-3);
    padding: 25px 20px; 
    margin-bottom: 15px;
    border-radius: 10px;
}

.productCart main article .cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
    border: 2px solid var(--color-4);
    width: 25px;
    height: 25px;
}

.productCart main article .amount,
.productCart main article .price,
.productCart main article .sub-price{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.productCart main article h6{
    font-size: 18px;
}

.productCart main article .delate{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.productCart main article button{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--color-4);
    background-color: var(--color-1);
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
}

.productCart main article button:hover{
    border: 2px solid var(--color-1);
    background-color: var(--color-3);
}

.productCart main section .precio-total{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-4);
    padding-top: 15px;
}

.productCart main section .precio-total h5{
    font-size: 20px;
}

.productCart main section .precio-total p{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.productCart main .titulo-columna{
    display: none;
}

.productCart main aside{
    background-color: var(--color-3);
    padding: 10px 7px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 35px;
}

.productCart main aside h3{
    text-align: center;
    font-size: 20px;
    margin: 10px 0 25px 0;
    color: #000;
}

.productCart main aside hr{
    display: none;
}

.productCart main aside .metodo-de-envio{
    border-top: 2px solid rgb(0, 0, 0);
    padding-top: 15px;
    margin: 20px;
}

.productCart main aside .metodo-de-envio label{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.productCart main aside .metodo-de-envio p{
    margin: 15px 0px;
    font-size: 14px;
    color: #000;
}

.productCart main aside .datos-del-envio h4{
    display: none;
    border-top: 2px solid rgb(0, 0, 0);
    padding-top: 15px;
}

.productCart main aside .datos-del-envio label{
    display: none;
}

.productCart main aside .datos-del-envio input{
    display: none;
}

.productCart main aside .datos-del-envio textarea{
    display: none;
}

.productCart main aside .datos-del-envio button{
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: var(--color-4);
    color: var(--color-1);
    border: 3px solid var(--color-2);
    border-radius: 5px;
    transition-property: all;
    transition-duration: 300ms;
}

.productCart main aside .datos-del-envio button:hover{
    border: 3px solid var(--color-1);
    box-shadow: 0 0 5px var(--color-4);
}

.productCart main span{
    font-size: 30px;
    margin: 70px 0;
}

@media (min-width: 719px){

    .productCart main .movile {
        display: none;
    }

    .productCart main .desktop{
        display: grid;
        grid-template-columns: 20% 20% 10% 10% 10% 10%;
        margin: 30px 0;
        background-color: var(--color-3);
        padding: 20px;
        border-radius: 7px;
    }

    .productCart main section {
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .productCart main .titulo-columna{
        display: grid;
        grid-template-columns: 40% 10% 10% 10% 10%;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid var(--color-4);
        
    }

    .productCart main article{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .productCart main article .amount{
        margin-left: 5px;
    }

    .productCart main article h6{
        margin: 0;
    }

    .productCart main article h5{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .productCart main article .trash{
        margin: 0;
    }

    .productCart main aside h3{
        margin: 10px 0 12px 0;
    }

    .productCart main aside hr{
        width: 100%;
        height: 2px;
        background-color: #000;
        border: none;
        margin-bottom: 20px;

    }

    .productCart main aside form{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .productCart main aside .metodo-de-envio{
        border: none;
        padding: 0;
    }

    .productCart main aside .datos-del-envio h4{
        border-top: none;
        padding-top: 0;
    }
}

@media (min-width: 1024px){

    .productCart main section{
        width: 70%;
        margin: 0;
    }

    .productCart main .conteiner{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .productCart main aside{
        width: 30%;
        margin-left: 15px ;
        max-height: 410px;
    }

    .productCart main aside hr{
        display: none;
    }

    .productCart main aside form{
        flex-direction: column;
    }

    .productCart main aside .metodo-de-envio{
        border-top: 2px solid var(--color-4);
        padding-top: 15px;
    }

    .productCart main aside .datos-del-envio h4{
        border-top: 2px solid #000;
        padding-top: 15px;
    }
}
