.productEdit{
    box-sizing: border-box;
    background-color: var(--color-1);
    background-image: url("/img/fondo.png");
    background-size: 100px;
    font-family: "Poppins";
}
.productEdit h2.title{
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid var(--color-4);
    padding: 10px;
}

/* main */

.productEdit main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    padding: 10px;
    background-color: var(--color-2);
    color: #000;
    border: 2px solid var(--color-3);
    box-shadow: 0px 0px 20px #000;
}

.productEdit main div h6{
    color: #000;
    text-transform: uppercase;
    border-top: 1px solid var(--color-3);
    align-items: flex-start;
    padding-top: 5px;
}
.productEdit main div p{
    border-bottom: 1px solid var(--color-3);
    padding-bottom: 5px;
    font-size: 14px;
}
.productEdit main div a{
    text-transform: uppercase;
}
.productEdit main form span{
    color: #000;
    border-bottom: 1px solid var(--color-3);
    padding-bottom: 5px;
    font-size: 12px;
}
.productEdit main form a{
    text-transform: uppercase;
}
.productEdit main button{
    margin-top: 20px;
    margin-bottom: 10px;
}
.productEdit article.insta{
    display: none;
}

@media (min-width: 480px){
    /* section */

    .productEdit article.insta{
        display: inline;
        justify-content: space-between;
    }
    .productEdit article.insta h3{
        color: var(--color-4);
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 15px;

    }
    .productEdit article.insta i{
        display: flex;
        justify-content: center;
        font-size: 70px;
        color: var(--color-4);
        border-top: 1px solid var(--color-3);
        margin-top: 70px;
        padding: 20px;
    }
    .productEdit article.insta div{
        display: flex;
        justify-content: center;
    }
    .productEdit article.insta div img{
        width: 45%;
        margin-bottom: 20px;
        padding: 5px;
    }
}

@media (min-width: 769px){

    /* main */

    .productEdit main{
        margin: 20px 200px;
        border: solid 2px var(--color-4);
    }
    .productEdit main div p{
        font-size: 20px;
    }
    .productEdit main form span{
        font-size: 20px;
    }

    /* section */


}