<footer id="footer">
    <div>
        <section>
            <h4>Horario</h4>
            <p>lunes a viernes de 8:00 a 17:00</p>
            <p>sabados de 8:00 a 12:00</p>
        </section>
        <section>
            <h4>Seguinos</h4>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
        </section>
        <section>
            <h4>Contacto</h4>
            <p>sucursal: Avenida siempre viva 742</p>
            <p>venta online: 1537621599</p>
            <p>Whatsapp: 1151768589</p>
        </section>
    </div>
    <h5>sevenStore@gmail.com</h5>
    <a href="#SevenStore">
        <p class="copyright">Seven Store®</p>
    </a>
</footer>