<footer id="footer">
    <div>
        <section>
            <h4>Horario</h4>
            <p>lunes a viernes de 8:00 a 17:00</p>
            <p>sabados de 8:00 a 12:00</p>
        </section>
        <section>
            <h4>Seguinos</h4>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
        </section>
        <section>
            <h4>Contacto</h4>
            <p>sucursal</p>
            <p>telefono</p>
            <p>venta online</p>
            <p>Whatsapp</p>
        </section>
    </div>
    <h5>AGVSHAINK@gmail.com</h5>
    <p class="copyright">copyright</p>
</footer>