footer{
    background-color: var(--color-gris);
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

footer section{
    margin: 25px 0 
}

footer h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 18px;
}

footer p{
    text-transform: capitalize;
    line-height: 23px;
}

footer i{
    margin: 7px 7px 0;
    font-size: 25px;

}

footer h5{
    margin: 25px 0;
    font-size: 18px;
}

footer .copyright{
    background-color: var(--color-negro);
    color: #fff;
}

@media (min-width: 769px){
    
    footer div{
        display: flex;
        justify-content: center;
    }
    
    footer section{
        width: 100%;
    }
}