<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="register">
    <header>
        <%- include('../partials/header') %>
    </header>
    <h2 style="margin: 20px auto;">Ingreso de usuario</h2>
    <main>
        <h3>Crea tu cuenta</h3>
        <div>
            <h6>Datos de usuario</h6>
            <p>Si ya estas registrado <a href="">click aca</a></p>
        </div>
        <form>
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Nombre</label>
                <input type="text" placeholder="Jose" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
                <label for="exampleInputLastName1" class="form-label">Apellido</label>
                <input type="text" placeholder="Perez" class="form-control" id="exampleInputLastName1" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" placeholder="joseperez@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPhoneNumber1" class="form-label">Número de telefono</label>
                <input type="number" placeholder="15-12345678" class="form-control" id="exampleInputPhoneNumber1" aria-describedby="emailHelp">
              </div>
            <div class="d-flex justify-content-end" style="flex-direction: column; align-items: center;">
                <div class="mb-3 form-check"> 
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                  </div>
            </div>
            <div style="justify-content: center; flex-direction: column; align-items: center;"><button type="submit" class="btn btn-primary" style="margin: 0px auto; display: flex; justify-content: center; flex-direction: column; align-items: center;">Registrate</button></div>
          </form>
            
    </main>
    <div>
        <article class="insta">
            <i class="fab fa-instagram"></i>
            <h3>instagram</h3>
            <section>
                <div>
                    <img src="/images/pokemon.jpeg" alt="">
                    <img src="/images/pokemon.jpeg" alt="">
                </div>
                <div>
                    <img src="/images/pokemon.jpeg" alt="">
                    <img src="/images/pokemon.jpeg" alt="">
                </div>
            </section>
        </article>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>