<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/b5b4548719.js" crossorigin="anonymous"></script>
    <title>AGVSHAINK</title>
</head>
<body class="home">
    <header>
        <article>
            <div class="titulo">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <a href="/"><h1>AGVSHAINK</h1></a>
                <img src="" alt="">
            </div>
            <nav>
                <ol>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Categorias</a></li>
                    <li><a href="/productDetail">Ofertas</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ol>
            </nav>
            <div class="botones">
                <div>
                    <div class="barra-de-busqueda"><form action=""><input type="text" placeholder="Buscar productos"></form></div>
                    <i class="fas fa-search"></i>
                </div>
                <div>
                    <a href="/login"><i class="fas fa-user"></i></a>      
                </div>
                <div>
                    <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>  
                </div>               
            </div>
        </article>
    </header>
    <main>
    <section class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="/img/diablilloModelo2.jpeg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="/img/diablillo2Modelo2.jpeg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img id="img3" src="/img/diablilloModelo1.jpeg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="/img/diablillo2Modelo1.jpeg" alt="" class="slider__img">
            </div>
        </div>
        <span class="slider__btn slider__btn--left" id="btn-left"><i class="fas fa-chevron-left"></i></span>
        <span class="slider__btn slider__btn--right" id="btn-right"><i class="fas fa-chevron-right"></i></span>
    </section>
    <script src="/js/slider.js"></script>
    <section class="products">
    <article class="products1">
    <div class="image">
            <img src="/img/remeraEspadaPirata.jpeg" alt="">
    </div>
    <div>
            <img src="/img/remeraPokemon2.jpeg" alt="">
    </div>
    </article>
    <article class="products2">
    <div>
            <img src="/img/remeraPokemon3.jpeg" alt="">
    </div>
    <div>
            <img src="/img/remeraPokemon.jpeg" alt="">
    </div>
    </article>
    </section>
    </main>
    <section class="bigPost">
        <div class="post">
            <h2>new in</h2>
        </div>
    </section>
    <section class="mid-banner">
            <img src="/img/mid-banner-agvsha.jpeg" alt="">
            <h1 class="md-name">AGVSHAINK</h1>
    </section>
    <div class="box-linea2">
        <hr class="linea2">
    </div>
    <article class="ig">
        <i class="fab fa-instagram"></i>
        <h3>#INSTAGRAM</h3>
        <div class="frase-ig">
            <p>¡ Seguinos en nuestro instragram y enterate de todos los nuevos looks !</p>
        </div>
    </article>
    <section class="catalogo-productos">
        <article class="producto1">
            <div>
                <img src="/img/camperonblue.jpeg" alt="">
            </div>
        </article>
        <article class="producto2">
            <div>
                <img src="/img/remeraDiablillo.jpg" alt="">
            </div>
        </article>
        <article class="producto3">
            <div>
                <img src="/img/camperonRed.jpeg" alt="">
            </div>
        </article>
        <article class="producto4">
            <div>
                <img src="/img/remeraDiablillo2.jpg" alt="">
            </div>
        </article>
    </section>
    <footer>
        <div id="contacto">
            <section>
                <h4>Horario</h4>
                <p>lunes a viernes de 8:00 a 17:00</p>
                <p>sabados de 8:00 a 12:00</p>
            </section>
            <section>
                <h4>Seguinos</h4>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
            </section>
            <section>
                <h4>Contacto</h4>
                <p>sucursal</p>
                <p>telefono</p>
                <p>venta online</p>
                <p>Whatsapp</p>
            </section>
        </div>
        <h5>AGVSHAINK@gmail.com</h5>
        <p class="copyright">copyright</p>
    </footer>
</body>
</html>